absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==23.2.0
azure-ai-ml==1.16.0
azure-common==1.1.28
azure-core==1.30.1
azure-identity==1.16.0
azure-mgmt-core==1.4.0
azure-storage-blob==12.20.0
azure-storage-file-datalake==12.15.0
azure-storage-file-share==12.16.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
Crawl4AI==0.4.248
cryptography==42.0.7
cssselect==1.2.0
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
Django==5.0.1
dm-tree==0.1.9
duckdb==1.2.1
easygui==0.98.3
exceptiongroup==1.2.2
executing==2.2.0
fake-http-header==0.3.5
fake-useragent==2.0.3
Faker==19.13.0
fastjsonschema==2.21.1
filelock==3.17.0
fireworks-ai==0.15.10
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.7
flexcache==0.3
flexparser==0.4
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
gast==0.5.4
google-api-core==2.19.0
google-auth==2.29.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.62.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
httpx-ws==0.7.0
huggingface-hub==0.29.1
idna==3.6
imageio==2.37.0
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==8.36.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.6.2
jaxlib==0.6.2
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
joblib==1.3.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.0.5
kiwisolver==1.4.5
libclang==16.0.6
lightfm==1.17
lightgbm==4.5.0
litellm==1.61.20
lxml==5.3.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
mathparse==0.1.2
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.20
mistune==3.1.3
ml_dtypes==0.5.3
mlxtend==0.23.1
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
msrest==0.7.1
multidict==6.1.0
mysqlclient==2.2.4
namex==0.0.7
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.4.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
openai==1.65.2
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opencv-contrib-python==4.11.0.86
opencv-python==4.9.0.80
opt-einsum==3.3.0
overrides==7.7.0
packaging==24.0
pandas==1.5.3
pandasai==2.4.2
pandocfilters==1.5.1
parso==0.8.4
pillow==10.4.0
Pint==0.24.4
platformdirs==4.3.6
playwright==1.50.0
portalocker==2.8.2
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.2.1
proto-plus==1.23.0
protobuf==4.25.3
psutil==7.0.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
pydash==8.0.1
pyee==12.1.1
Pygments==2.17.2
PyJWT==2.8.0
pymongo==3.13.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.3.0
pytz==2024.1
pywin32==306
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
rank-bm25==0.2.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.18.1
rsa==4.9
scikit-learn==1.5.2
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.1
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sounddevice==0.5.2
soupsieve==2.6
SQLAlchemy==2.0.40
sqlglot==25.34.1
sqlglotrs==0.3.0
sqlparse==0.4.4
squarify==0.4.3
stack-data==0.6.3
strictyaml==1.7.3
sympy==1.13.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
tf-playwright-stealth==1.1.2
threadpoolctl==3.3.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.0
tomli==2.2.1
torch==2.4.1
tornado==6.5
tqdm==4.66.5
traitlets==5.14.3
types-python-dateutil==2.9.0.20250516
typing_extensions==4.12.2
tzdata==2024.1
ucimlrepo==0.0.7
uri-template==1.3.0
urllib3==2.2.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
